body {
	background-color: black;
font-family: 'Poppins', sans-serif;
color: blue;
}
h1 {
	text-align: center;
	font-size: 60px;
	color: blue;
}

h3 {
	text-align: center;
	font-size: 42px;
	color: blue;
	
}

p {
	font-size: 150%;
	color: yelow;
}

a {
	color: goldenrod;
	text-decoration: none;
	text-align: center;
	display: block;
	
	
	
}

img {
	display: block;
	width: 75%;
	margin: auto;

}
iframe {
	display: block;
	margin: auto;
}

li {
  color: grey; /* bullet color */
}
li span {
  color: grey; /* text color */
}
